%% 순환 로그와 오류들
[{sasl, [
	%% 셀 오류 로깅을 최소로 함
	{sasl_error_logger, false},
	%% 오직 오류만 보고
	{errlog_type, error},
	%% 순환 로그의 매개변수 정의
	%% 로그 파일 디렉터리
	{error_logger_mf_dir, "/home/joe/error_logs" },
	%% 로그 파일당 #바이트
	{error_logger_mf_maxbytes,10485760}, % 10 MB
	%% 최대 개수
	{error_logger_mf_maxfiles, 10}
	]}].
